# Node.js
node_modules
npm-debug.log

# Build outputs
dist
build
*.tgz

# Environment files
.env
.env.*

# Git and version control
.git
.gitignore
.github

# Python
__pycache__
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Frontend directory (as we're only focusing on the backend)
frontend/

# Uploaded content
backend/uploads/*
!backend/uploads/.gitkeep
backend/public/processed/*
!backend/public/processed/.gitkeep

# Logs
logs
*.log

# Docker
.dockerignore

# Editor directories and files
.idea
.vscode
*.swp
*.swo
*~ 